#plus{
    display:inline-block;
    padding:0.5em 2em;
    border:0.3em solid #ffffff;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 20px;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#ffffff;
    text-align:center;
    transition: all 0.15s;
    border-color: white;
    background-color:transparent;
    margin-top: 50px;
    margin-bottom: 30px;
}

#plus:hover{
    color:#DDDDDD;
    border-color: #DDDDDD;
}
#plus:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}