body{
  margin: 0px;
  background-image: url('components/orange.png');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;

}

.App {
  text-align: center;
}

#smartTitle {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px;
  margin-bottom: 30px;
}



